    <meta charset="UTF-8">
    <meta lang="pt-br">
    <meta name="description" content="Amin Template">
    <meta name="keywords" content="Amin, unica, creative, html">
    <meta name="language" content="pt-br">
    <meta Content-Language="pt-br">
    <meta Content-Language="português">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta description="Plataforma online para partidas de RPG virtuais. Rede social de jogadores de RPG. Mundos online para RPG">
    <title>Fantasy World  | Comunidade para jogadores de RPG</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="@field{{templatepath}}css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="@field{{templatepath}}css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="@field{{templatepath}}css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="@field{{templatepath}}css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="@field{{templatepath}}css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="@field{{templatepath}}css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="@field{{templatepath}}css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="@field{{templatepath}}css/style.css" type="text/css">